body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 1200px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 15px;;
}
