
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: coral;
    justify-content: start;
    gap: 10px;
}

.box-img {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.box-1 {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: coral;
    justify-content: center;
    gap: 10px;
}

.box-2 {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: coral;
    justify-content: end;
    gap: 10px;
}

.box-3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: coral;
    justify-content: start;
    gap: 10px;
}

.box-4 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: coral;
    justify-content: center;
    gap: 10px;
}

.box-5 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: end;
    background-color: coral;
    gap: 10px;
}

.box-5 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: coral;
    justify-content: end;
    align-items: start;
    gap: 10px;
}

.box-6 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: coral;
    gap: 10px;
}

.box-7{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: coral;
    gap: 10px;
}

.box-8 {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    background-color: coral;
    justify-content: start;
    align-items: end;
    gap: 10px;
}

.box-9 {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    align-items: end;
    justify-content: center;
    background-color: coral;
    gap: 10px;
}

.box-10 {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    align-items: end;
    justify-content: end;
    background-color: coral;
    gap: 10px;
}

.box-img img {
    width: 180px;
    height: 180px;
}

.box div, .box-1 div, .box-2 div, 
.box-3 div, .box-4 div, .box-5 div, 
.box-6 div, .box-7 div, .box-7 div, 
.box-8 div, .box-9 div, .box-10 div 
{
    width: 80px;
    height: 80px;
    background-color: blueviolet;
}